<h1>{{$ "title"}}</h1>

<p>
<a href="#/collage">View Collage!</a>
</p>

{{#if user}}
<p>
<label for="addgiftxt">Suggest a GIF:</label>
<input id="addgiftxt" name="addgiftxt"/><input type="button" id="addgifbtn" value="Add"/>
</p>
<p>
<label for="addalbumtxt">Add an entire Imgur album:</label>
<input id="addalbumtxt" name="addalbumtxt"/><input type="button" id="addalbumbtn" value="Add"/>
</p>
<p id="submitmsg"></p>
{{else}}
<p>
Connect with Facebook to submit images:
<a href="/auth/facebook">Connect!</a>
</p>
{{/if}}