!!!
html.no-hs(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title Collag'd
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="description", content="Automatic GIF Collaging")
		meta(property="og:title", content="Collag'd!")
		meta(property="og:url", content="http://collage.fritbot.com")
		meta(property="og:site_name", content="Collag'd")
		meta(property="og:description", content="Who doesn't love GIFs? Automatic full-screen GIF collage for your viewing pleasure.")
		link(rel="stylesheet", href="css/index.css")
		script(data-main="js/main", src="js/libs/require/require.js")
	body(data-csrf=token, data-user=user)
		.container
			h1.loadingHeader Just a moment, please... we're probably loading something. Probably.